@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.font-logo {
  font-family: 'Praise', cursive;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}